html{
    background-color: blue;
    height: 100%;
    width: 100%;
}

body{
    background-color: orange;
    height: 100%;
    width: 60%;
    margin: 0 auto;
}   

h1{
    /* display: block; */
    text-align: center;
    font-size: 40px;
    color: blue;
    margin: 0px 0px 0px 0px;
}

img{
    display: block;
    height: 30%;
    width: 30%;
    margin: auto;
}

p{
    width: 100%;  
    left: 0;
    margin-left: 0%;
    background-color: aqua;
    border-width: 10px;
    border-color: black;
    border-style: solid;
}

article{
    margin-left: 0;
}

/*table{
    width: 100%; 
}

th{
    text-align: left;
    font-weight: normal;
}

article{
    box-shadow: 200px;
}

div{
    background-color: aqua; 
    width: 100px; 
    display:block; 
    border-style:double;
    margin: 25px 25px 70px 30px;
    border-width: 9px;
    border-color: black;
} */
